* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  background: #151515;
  font-weight: 500;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.wrapper {
  min-width: 92rem;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: 0px 20px 11px 0px #000; }

.hero {
  min-width: 100%;
  min-height: 100vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/hero.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem; }

html {
  scroll-behavior: smooth; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  min-width: 0; }

.navigation {
  display: flex;
  font-size: 1.6rem;
  color: #fff;
  flex: 0 0 70%;
  justify-content: flex-end; }
  @media only screen and (max-width: 652px) {
    .navigation {
      background: #080808;
      position: absolute;
      width: 100%;
      top: 0px;
      transform: translateY(-120%);
      transition: .4s;
      z-index: 100;
      left: 0;
      height: 100%; } }
  .navigation__list {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 652px) {
      .navigation__list {
        width: 100%;
        flex-flow: column;
        justify-content: center; } }

.link:link, .link,
.link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.3rem;
  color: #fff;
  transition: .3s; }

.link:hover {
  transform: translateY(-0.5rem); }

.logo {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter; }
  .logo__solution {
    color: #4D76AE; }

.middle__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center; }

.middle-text .middle-text-header {
  font-size: 8.5rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 600px) {
    .middle-text .middle-text-header {
      font-size: 4.2rem; } }
  .middle-text .middle-text-header-sub {
    color: #fff;
    font-size: 1.8rem;
    line-height: 100%;
    font-weight: 300;
    margin: auto; }
    @media only screen and (max-width: 600px) {
      .middle-text .middle-text-header-sub {
        font-size: 2rem;
        width: 100%; } }
    @media only screen and (min-width: 600px) {
      .middle-text .middle-text-header-sub {
        width: 100%; } }
    @media only screen and (min-width: 992px) {
      .middle-text .middle-text-header-sub {
        width: 60%; } }

.buttons {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-around;
  top: 10rem; }
  @media only screen and (max-width: 35rem) {
    .buttons {
      display: inline-block;
      display: flex;
      flex-flow: column;
      width: 90%;
      top: 3rem; } }

.button {
  border: none;
  width: 47%;
  height: 5.2rem;
  background: #FF5722;
  color: #fff;
  border-radius: 2rem; }
  @media only screen and (max-width: 35rem) {
    .button {
      width: 100%;
      height: 4.2rem; }
      .button:last-child {
        margin-top: 1rem; } }
  .button:hover {
    cursor: pointer; }

.about_box {
  background-color: #E1E5E6; }

.section__header {
  text-align: center;
  padding-top: 7rem; }
  .section__header-main {
    font-size: 3.5rem;
    font-weight: 400;
    color: #888282; }
    @media only screen and (max-width: 610px) {
      .section__header-main {
        font-size: 2rem; } }
  .section__header-paragraph {
    font-size: 1.7rem; }

.content__about {
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  font-weight: lighter;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 700px) {
    .content__about {
      display: block;
      padding-top: 5rem; } }

.about-paragraph {
  flex: 0 0 50%;
  font-size: 1.3rem;
  font-family: 'open sans';
  padding: 0 2rem; }

.img__box {
  flex: 0 0 50%;
  text-align: center; }
  @media only screen and (max-width: 700px) {
    .img__box {
      margin-top: 5rem; } }

.about-img {
  max-width: 30rem; }

.service__box {
  background-color: #d1d8d; }

.service__box-list {
  padding-top: 3.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5.3rem; }
  .service__box-list-item {
    flex: 0 0 30%;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff; }
    @media only screen and (max-width: 1010px) {
      .service__box-list-item {
        flex: 0 0 45%; } }
    @media only screen and (max-width: 610px) {
      .service__box-list-item {
        margin-bottom: 0;
        padding: 0;
        flex: 0 0 90%; } }

.item-header {
  font-size: 1.5rem;
  font-weight: bold; }

.item-description {
  font-size: 1.4rem;
  color: #b5aaaa; }

.service__icon {
  width: 5rem;
  height: 12rem;
  margin-bottom: -3rem;
  fill: #FF5722; }
  @media only screen and (max-width: 610px) {
    .service__icon {
      width: 4rem;
      height: 10.5rem; } }

.protfolio__box {
  background-color: #00000026; }
  @media only screen and (max-width: 600px) {
    .protfolio__box .section__header {
      padding-top: 5rem; } }

.protfolio__box-list {
  display: grid;
  padding-top: 5.3rem;
  padding-bottom: 5.3rem;
  grid-template-columns: repeat(auto-fit, minMax(33rem, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }
  @media only screen and (max-width: 360px) {
    .protfolio__box-list {
      grid-template-columns: repeat(auto-fit, minMax(100%, 1fr)); } }

.img-box {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  transition: .3s; }
  .img-box:hover {
    transform: translateY(-8px); }
  .img-box:hover > .hover__box {
    cursor: pointer; }

.hover__box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #FF5722;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .2s; }
  .hover__box-hover {
    font-size: 3rem;
    color: #fff; }

img {
  width: 100%;
  height: 100%; }

.testimoniols__box {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.89)), url(../img/testimoniol.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.89)), url(../img/testimoniol.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.89)), url(../img/testimoniol.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .testimoniols__box-content {
    align-items: center;
    padding: 10rem 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(30rem, 1fr));
    grid-gap: 1rem; }
    @media only screen and (max-width: 470px) {
      .testimoniols__box-content {
        padding: 10rem 2rem; } }
    @media only screen and (max-width: 360px) {
      .testimoniols__box-content {
        grid-template-columns: repeat(auto-fit, minMax(100%, 1fr)); } }

.testimoniols {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background: #1a1b1b;
  padding: 1rem;
  padding-top: 5rem;
  border-radius: 10px;
  box-shadow: 1px 2px 15px 0px #000000b0;
  transition: .3s; }
  .testimoniols:hover {
    transform: translateY(-1.2rem); }
  .testimoniols img {
    height: 15rem;
    width: 16rem;
    border-radius: 100%;
    border: 4px solid #f5f5f5;
    margin-bottom: .5rem; }

.testimoniol {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 2rem;
  text-align: center;
  margin-top: .5rem; }
  .testimoniol-name {
    color: #D84315;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center; }

.dots {
  height: 1rem;
  width: 20rem;
  display: flex;
  justify-content: space-evenly; }

.dot {
  display: block;
  background: #64B5F6;
  height: 2rem;
  width: 2rem;
  border-radius: 50%; }

.burger__menu {
  position: absolute;
  right: 5rem;
  display: none;
  z-index: 10000;
  flex-direction: column;
  transition: .2s;
  cursor: pointer; }
  @media only screen and (max-width: 500px) {
    .burger__menu {
      right: 1rem; } }
  .burger__menu:hover {
    opacity: .5; }
  .burger__menu-lines {
    background: #fff;
    margin-top: .5rem;
    width: 2.5rem;
    height: .1rem; }
  @media only screen and (max-width: 650px) {
    .burger__menu {
      display: flex; } }

@media only screen and (max-width: 920px) {
  .header {
    flex-wrap: wrap; }
  .logo__box {
    flex: 100%;
    text-align: center; }
  .navigation {
    flex: 0 0 100%;
    justify-content: center; } }

.toggle {
  transform: translateY(0); }

.footer {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-top: 3rem; }
  @media only screen and (max-width: 300px) {
    .footer {
      width: 95%; } }
  @media only screen and (max-width: 700px) {
    .footer-logo {
      text-align: center; } }
  .footer .logo {
    font-size: 3rem; }
  .footer-content {
    display: block;
    justify-content: space-around;
    font-size: 1.3rem;
    color: #fff;
    margin-top: 2rem;
    text-align: center; }
    .footer-content li {
      transition: .3s;
      cursor: pointer; }
    .footer-content li:hover {
      transform: translateY(-5px); }
    @media only screen and (min-width: 700px) {
      .footer-content {
        display: flex; } }
    .footer-content h4 {
      font-size: 1.5rem;
      color: #2196F3;
      text-transform: uppercase; }
    .footer-content li {
      line-height: 2.5rem; }

.newsletter_form {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
  background: #1c1c1c;
  color: #fff;
  padding-bottom: 4rem;
  padding-top: 4rem; }
  @media only screen and (min-width: 860px) {
    .newsletter_form {
      width: 80%; } }
  .newsletter_form h2 {
    font-size: 1.7rem; }
    @media only screen and (min-width: 860px) {
      .newsletter_form h2 {
        font-size: 2.3rem; } }
  .newsletter_form p {
    font-size: 1.3rem;
    margin-bottom: 2rem; }
  .newsletter_form button {
    padding: 1rem;
    outline: none;
    border: none;
    background: #F44336;
    color: #fff;
    cursor: pointer; }

.newsletter {
  padding: 1rem;
  outline: none;
  border: none;
  width: 50%; }

.icon {
  width: 3.5rem;
  height: 6rem;
  fill: #FF5722; }

#legal {
  font-size: 1.4rem;
  color: #fff;
  text-align: center; }

@media only screen and (max-width: 700px) {
  .footer-content > * {
    margin-bottom: 1.5rem; } }
